@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
body {
    background-color: var(--grisClaro);
}
h2{
    font-family: sans-serif;
}
h3{
    font-family: sans-serif;
}
header {
    color: var(--oscuro);
    text-align: center;
    padding: 1rem;
    background-color: var(--primario);
    font-family: sans-serif;
    
}
 
span {
    font-size: 1rem;
    color: var(--gris);

    
}

.titulo1 {
    
    position: relative;
    background-repeat: cover;
    padding: 2rem;
}
.sobre {
    text-align: left;
    font-size: 2rem;
}

.titulo2 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #0097A7;
    border-radius: 1rem;
    width: 60rem;
    margin: auto;
    
    

}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 1rem;
  }
  
  .imagen {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  




.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.titulo3 {
    text-align: center;
    padding: 2rem;
    background-color: #0097A7;
    border-radius: 1rem;
    width: 60rem;
    margin: auto;
    margin-bottom: 4rem;
    
    
}

footer {
    background-color: black;
    color: var(--blanco);
    margin-top: 1rem;
    text-align: center;
}
    


campo {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.card-container {
    display: inline-block;
    margin: 5rem;
    border: var(--gris) solid;
    border-radius: 10%;
    overflow: hidden;
    background-color: var(--primario);
    padding: 10px;
}

.titulo-cards {
    font-size: 2rem;
    text-align: center;
    font-family: "Permanent Marker", cursive;

 }
.descripcion-cards {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 10rem;
    max-height: 10rem;
}

.img-cards {
    width: 10rem;
    height: 10rem;
}

span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-top: 1rem;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "CREAR";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  
